body{
  background-color: #e7e7e7;
}

.card img {
  display: flex;
  flex: auto;
  justify-content: center;
  max-height: 300px;
  min-height: 300px;
  border-bottom: 2rem;
}

#buttonRow {
  margin-bottom: 2rem;
}

#save{
  margin: 2rem 0rem;
}

#stickyFoot{
  position: relative;
  min-height: 50vh;
}

.monsterImage{
  max-height: 200px;
  min-height: 200px;
  max-width: 40%;
}

.hide-button{
  display: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.wizard{
  max-width: 15rem;
}

.inventory {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#characterDisplay img {
  border-radius: 60%;
  max-height: 100px;
  max-width: 100px;
}

.icon {
  cursor: pointer;
}

.spacer{
  margin: 50px;
}

.heros{
  max-height: 200px;
  max-width: 200px;
}

#heroImage {
  border-radius: 25%;
  max-height: 200px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
  border-color: none;
  box-shadow: none;
}
