extends layout

block content
  h1.display-3 You need to Sign In.
  p.lead You must sign in to see this page. Please log in or register.
  a.btn.btn-info-outline.btn-lg(href='/login') Log In Here
  a.btn.btn-info-outline.btn-lg(href='/register') Register Here
