extends layout

block content
  // main container
  .container
  .container
    .row
      #buttonRow.col.text-center
        button#fight.btn.btn-danger Fight
        button#healthPotion.btn.btn-primary Health Potion: 3
        button#newFight.btn.btn-light New Fight
        button#run.btn.btn-warning Run Away
        button#save.btn.btn-primary Save

        //
          <button id="castle" class="btn btn-primary">Buy the Castle: 500 gold</button>
          <button id="dragon" class="btn btn-danger">The Dragon is Attacking</button>
    .row
      .col.border
        #playerNameDisplay.h-3 Player Name:
        br
        #playerLevel.h-3 Player Level: 1
        #playerHealth.font-weight-bold Player Health
        #playerDamage Player Attack: 5-10
        #playerAttackBonus Player Accuracy: +5
        #playerAC Player&apos;s Armor Class: 15
        #round Ready to Fight?
        p#goldDisplay Gold
        img#goldImage
        #result  Next Round
        #playerAlert.alert.alert-danger.alert-dismissible.fade.show(role='alert')

        //
          <button id="castle" class="btn btn-primary">Buy the Castle: 500 gold</button>
          <button id="dragon" class="btn btn-danger">The Dragon is Attacking</button>
      .col.border
        #enemyHealth.font-weight-bold Enemy Health
        #image.img-thumbnail.img-fluid.text-center
        #enemyAlert.alert.alert-success.alert-dismissible.fade.show(role='alert')
        #totalWins Total Wins: 0
        #totalLosses Total Losses: 0
    // item cards
    .h3.col.sm-12.text-center.inventory Inventory
    .container.inventoryContainer
      .row
        .h4 Swords
      .row
        .col.m-3
          #sword1.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterImg/sword1.jpg', alt='...')
            .card-body
              p.card-text Increase Accuracy
              p.card-text.text-center 30 gold
        .col.m-3
          #sword2.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/sword2.jpg', alt='...')
            .card-body
              p.card-text Increase Accuracy
              p.card-text.text-center 50 gold
        .col.m-3
          #sword3.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/sword3.jpg', alt='...')
            .card-body
              p.card-text Increase Accuracy
              p.card-text.text-center 150 gold
      .row
        .h4 Armors
      .row
        .col.m-3
          #armor1.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/armor1.jpg', alt='...')
            .card-body
              p.card-text Increase Player&apos;s Armor
              p.card-text.text-center 40 gold
        .col.m-3
          #armor2.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/armor2.jpg', alt='...')
            .card-body
              p.card-text Increase Player&apos;s Armor
              p.card-text.text-center 60 gold
        .col.m-3
          #armor3.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/armor3.jpg', alt='...')
            .card-body
              p.card-text Increase Player&apos;s Armor
              p.card-text.text-center 200 gold
      .row
        .h4 Magic Potions
      .row
        .col.m-3
          #potion1.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/potion1.jpg', alt='...')
            .card-body
              p.card-text Increase Base Damage
              p.card-text.text-center 35 gold
        .col.m-3
          #potion2.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/potion2.jpg', alt='...')
            .card-body
              p.card-text Increase Base Damage
              p.card-text.text-center 55 gold
        .col.m-3
          #potion3.card(style='width: 18rem;')
            img.card-img-top(src='images/monsterimg/potion3.jpg', alt='...')
            .card-body
              p.card-text Increase Base Damage
              p.card-text.text-center 180 gold
