extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Adventure Game
    p.lead Can you make it to leve 20? Sign up, kick down some doors, kill some monsters, and grab some loot.
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
