.container
  // page contaner
  // nav bar
  nav.navbar.navbar-expand-lg.navbar-light.shadow-lg.p-3.mb-5.bg-secondary.rounded.text-light
    a.navbar-brand.text-light(href='/') Amateur Dungeon Master
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link.active(href='/')
          | Home
          span.sr-only (current)
        if currentUser
          a.nav-item.nav-link(href='/game') Game
        a.nav-item.nav-link(href='/rules') Rules
        if !currentUser
          a.nav-item.nav-link(href='/register') Register

        if currentUser
          div
            a.btn.btn-light.pull-md-right(href='/logout') Log out
        else
          a.btn.btn-info.pull-md-right(href='login') Login
