extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Rules
        p Are you a true adventurer? Are you brave enough to face all thirty enimies? Can you reach level 20?
        p The simple objective of this game is to reach level 20. You will level up by defeating enimes and lose levels if they defeat you.
        p Every enemy defeated will drop some gold that can be used to upgrade equipment. Running away will cause you to drop some important gold. 
